{% extends 'base.html' %}

{% block content %}
<h1 class="my-4">Просмотр пользователя</h1>

<div class="card">
    <div class="card-body">
        <table class="table">
            <tr>
                <th style="width: 200px;">Идентификатор</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Логин</th>
                <td>{{ user.login }}</td>
            </tr>
            <tr>
                <th>Фамилия</th>
                <td>{{ user.last_name or '-' }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <th>Отчество</th>
                <td>{{ user.middle_name or '-' }}</td>
            </tr>
            <tr>
                <th>Роль</th>
                <td>{{ user.role_name or 'Не назначена' }}</td>
            </tr>
            <tr>
                <th>Дата создания</th>
                <td>{{ user.created_at }}</td>
            </tr>
        </table>
        
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Назад</a>
    </div>
</div>
{% endblock %}