{% extends 'base.html' %}

{% block content %}
<h1 class="my-4">Параметры URL</h1>

<div class="card">
    <div class="card-header">
        <h5>Параметры запроса (Query Parameters)</h5>
    </div>
    <div class="card-body">
        <form method="get" class="mb-4">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" name="param1" class="form-control" placeholder="Параметр 1">
                </div>
                <div class="col-md-4">
                    <input type="text" name="param2" class="form-control" placeholder="Параметр 2">
                </div>
                <div class="col-md-4">
                    <input type="text" name="param3" class="form-control" placeholder="Параметр 3">
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Отправить</button>
        </form>

        {% if params %}
            <h5>Переданные параметры:</h5>
            <table class="table table-striped">
                <thead>
                    <tr><th>Ключ</th><th>Значение</th></tr>
                </thead>
                <tbody>
                    {% for key, value in params.items() %}
                    <tr>
                        <td><code>{{ key }}</code></td>
                        <td><code>{{ value }}</code></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-muted">Нет переданных параметров</p>
        {% endif %}
    </div>
</div>
{% endblock %}